.top-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.top-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 6px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.top-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 6px;
    text-shadow: 1px 1px 1px #fff;
}

.h-title {
    border-bottom: 1px solid #e6e6e6;
    padding: 0 0 5px;
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #222;
    font-weight: normal;
    line-height: 24px;
}